<h1>{{title}}</h1>
<p>Unidad 3: "Introducción NODE"</p>
<ul>
    <li><a href="/" style="color:blue">Inicio</a></li>
  <li><a href="/contacto">Contacto</a></li>
  <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
  <li><a href="/propiedades">Propiedades</a></li>
</ul>